<br>
<div class="card">
  <div class="card-header">
    Empleados
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>9</td>
          <td>Paulo</td>
          <td>paulohuaman@upeu.edu.pe</td>
          <td>
            <a href="/editar-empleado/1">Editar </a>| Borrar</td>
        </tr>
      </tbody>
    </table>

  </div>

</div>
